body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;

}
.img{
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: -1;
}
.nav h1 {
  color: #ffffff;
  box-shadow: 0px 4px 8px 0px rgba(68, 255, 146, 0.2);
}
.tabuleiro {
  display: flex;
  max-width: 300px;
  margin: 20px auto;
  margin-top: 200px;
}

.coluna {
  flex: 1;
  background-color: #f0f0f0;
  padding: 10px;
  text-align: center;
}

.linha {
  display: flex;
}

.celula {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  margin: 5px;
  cursor: pointer;
}

.jogador1 h1{
  font-size: 16px;
}
.jogador1{
  width: 180px;
  }
  .jogador2 h1{
    font-size: 16px;
  }
  .jogador2{
    width: 180px;
}
.jogador1 img {
  width: 150px;
  height: 100px;
  margin-right: 10px;
  border-radius: 10px;
}

.jogador2 img{
  width: 150px;
  height: 100px;
  border-radius: 10px;
}